{{ partial "header-post.html" . }}

{{ if eq $.Site.Params.sitetitleonpost true }}
  <header>
    <div class="header-container">
  		<h1>
  			<a href="/" class="header-greeting-small">{{ .Site.Title }}</a>
  		</h1>
    </div>
  </header>
{{ else }}
  <header class="header-bar"></header>
{{ end }}

	<body>
		<style>.at4-follow-outer { display: none }</style>
		<a href="/" class="close">&times;</a>
		<article>
			<time>{{ .Date.Format "2 January 2006" }}</time>
			<h1>{{ .Title }}</h1>
			{{ .Content }}





    <footer>
      {{ if $.Site.Params.bio }}
        <img source="http://s.gravatar.com/avatar/{{ $.Site.Params.gravatarhash }}?s=128">
        <p>{{ $.Site.Params.bio | markdownify }}</p>
      {{ end }}
    </footer>
    <!--DISQUS (Turn into a partial later)-->
          <div id="disqus_thread"></div>
    <script>
        var disqus_config = function () {
            this.page.url = {{ .Permalink }};
            this.page.identifier = {{ .RelPermalink }};
        };
        (function() {
            var d = document, s = d.createElement('script');
            s.src = '//{{ $.Site.Params.disqusshortname }}.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
    <!--END DISQUS-->

    </article>
{{ partial "footer.html" . }}
