<!DOCTYPE html>
<html lang="{{.Site.LanguageCode}}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="https://s.gravatar.com/avatar/{{ .Site.Params.gravatarhash }}?s=16">
  <link href="https://fonts.googleapis.com/css?family=Merriweather:300,400,700|Droid+Sans:700,400" rel="stylesheet" type="text/css">
  <link rel="stylesheet" type="text/css" href="/css/core.css?20151102">
  {{ if .Site.Params.sumome }}
  <script src="//load.sumome.com/" data-sumo-site-id="{{ .Site.Params.sumome }}" async="async"></script>
  {{ end }}
  {{ if .RSSlink }}
    <link href="{{ .RSSlink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
    <link href="{{ .RSSlink }}" rel="feed" type="application/rss+xml" title="{{ .Site.Title }}" />
  {{ end }}
