  {{ partial "header-index.html" . }}
  <header>
  <div class="header-container">
    <h1>
    <a href="{{ .Site.BaseURL }}" class="header-greeting">{{ .Site.Title }}</a>
    {{ if .Site.Params.description }}
      <div class="header-intro">{{ .Site.Params.description | markdownify }}</div>
    {{ end }}
    </h1>
  </div>
</header>

  <body class="home">



    <!-- Begin index content -->
    <div class="years">
      {{ $.Scratch.Add "year" nil }}
      {{ $.Scratch.Set "index" 0 }}
      {{ range (.Data.Pages.ByDate).Reverse }}
        {{ $year := ($.Scratch.Get "year") }}
        {{ $index := ($.Scratch.Get "index") }}
        {{ $current_year := (.Date.Format "2006") }}
        {{ if ne $year $current_year }}
          {{ if ne $year nil }}
            </ul></div>
            {{ $.Scratch.Set "active" "inactive" }}
          {{ else }}
            {{ $.Scratch.Set "active" "active" }}
          {{ end }}
          <a name="{{ $current_year }}"></a>
          <div
            class="year year-{{ $index }} year-{{ $.Scratch.Get "active" }}"
            data-year="{{ $current_year }}"
            data-index="{{ $index }}"
          >
            <h2>{{ $current_year }}</h2>
            <ul class="posts-{{ $current_year }}">
          {{ $.Scratch.Set "year" $current_year }}
          {{ $.Scratch.Set "index" (add $index 1) }}
        {{ end}}
        <li>
          <div>
            <time>
              {{ .Date.Format "2 January 2006" }}
            </time>
            <h3><a href="{{ .RelPermalink }}">{{ title .Title }}</a></h3>
            <p>{{ if .Params.summary }}
                 {{ .Params.summary }}
               {{ else }}
                 {{(substr .Summary  0 230) | markdownify }}
               {{ end }}&hellip;</p>
            <a href="{{ .RelPermalink }}">Continue reading&hellip;</a>
          </div>
        </li>
      {{ end }}
      </ul></div>
      <div class="year-nav year-nav-newer year-nav-disabled">&#9194;</div>
      <div class="year-nav year-nav-older">&#9193;</div>
      <!-- End index content -->

      <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
      <!-- <script src="/js/jquery.readtime.js?20151021"></script> -->
      <script src="/js/core.js?20151027"></script>
{{ partial "footer.html" . }}
